.footer-container {
    background: #343a40;
    min-height: 100%;
    height: 100%;
}

.footer-row {
    height: 100%;
    width: 100%;
}

.footer-list-1 {
    list-style-type: none !important;
    padding: 0;
}

.footer-list-2 {
    list-style-type: none !important;
    padding: 0;
}