.home_row-1 {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_row-2 {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_form {
    display: flex;
    flex-direction: column;
}

.home_input {
    margin-bottom: 4px;
}

// .home_button {
    
// }